.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cta{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 30px;
  background-image: linear-gradient(to right, #0788b5 , #1da850)

}

.cta-left{
  margin: 0px 40px;;
}
.cta-right {
  margin: 0px 40px;
  background-color: white;
  border-radius: 10%
}
.text {
  color: white;
  
}

.cta-icon{
  max-height: 30px;
}
.navbar{
  background-color: transparent;
}
.logo{
  height: 50px;
}

.nav{
  display: flex;
  justify-content: space-between;

}

.hero{
  display: flex;
  flex-direction: row;
}
.touch{
  background-color: white;
  border: none;
  border-radius: 8px;
}

.icons{
  display: flex;
  justify-content: space-evenly;
  background-color:  #f2f2f2;
}

.circle{
  width: 100px;
  height: 100px;
  background-color: #0788b5;
  border-radius: 50%;
}
.icon{
  height: 100%;
  width: 100%;
  object-fit:scale-down;
  padding: 25%;
}